<div class="w-100 m-3 p-4 flex flex-col space-y-3 justify-center items-start shadow-md bg-white rounded-md">
  Sign In

  <app-custom-button class="w-100" (onBtnClicked)="refreshClicked($event)" [isIconOnly]="true" iconType="REFRESH" iconSize="MD">
  </app-custom-button>

  <app-custom-button class="w-100" (onBtnClicked)="loveClicked($event)" bgColor="RED600" [isIconOnly]="true" iconType="LOVE"
    iconSize="MD">
  </app-custom-button>

  <app-custom-button class="w-100" (onBtnClicked)="completeMealClicked($event)" bgColor="INDIGO600" btnLabel="Complete Meal"
    [isIconActive]="true" iconType="CHECK" iconSize="MD">
  </app-custom-button>


  <app-form-input  fieldId="emailSignIn" (forInputChange)="onEmailChanged($event)" labelType="email" [control]="emailControl">
  </app-form-input>

  <app-form-checkbox labelType="rememberMe" (forCheckboxChange)="onCheckboxChanged($event)" [control]="checkboxControl"></app-form-checkbox>
</div>
